<h4>{{name}}</h4>

<b>Tasks ({{tasks.length}})</b>

<table class='tasks'>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>
          {{name}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{input id='new-todo' type='text' value=newName action='createTask' placeholder='New Task'}}
